body{
  /* font-family: Roboto;
  font-weight: 300;
  font-size: 16pt;
  background-color: wheat; */
  margin: 10px;
  padding: 0px;
}

.barchart,
.linechart {
  font-family: Roboto;
  width: 950px;
  height: 490px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.x-axis-label,
.y-axis-label
{
  font-size: 10pt;
  fill: #88888;
  font-weight: bolder;
}

 .domain {
  stroke: none;
}
/* svg elements are styled differently from html elements */

rect.bar {
  stroke: none;
  fill: #3172bd;
}

#x-axis text,
.text ,
#y-axis text {
  font-size: 10pt;
  fill: #88888;
  font-weight: 200;
}

text.title {
  font-size: 12pt;
  font-weight: bold;
}

/*#x-axis line {
   /* tick marks
  fill: none;
  stroke: none;
}*/

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;
  stroke: lightgrey;
  /* stroke-width: 0.5px; */
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.3;
  shape-rendering: crispEdges;
}

/* .line {
    fill: none;
    stroke: #ffbb00;
    stroke-width: 3;
} */
/*
.overlay {
  fill: none;
  pointer-events: all;
} */
