body{
  /* font-family: Roboto;
  font-weight: 300;
  font-size: 16pt;
  background-color: wheat; */
  margin: 10px;
  padding: 0px;
}

.barchart,
.linechart {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16pt;
  width: 950px;
  height: 490px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

/* svg elements are styled differently from html elements */

rect.bar {
  stroke: none;
  fill: #3172bd;
}

#x-axis text,
.text,
#x-axis-label,
#y-axis-label,
#y-axis text {
  font-size: 10pt;
  fill: #88888;
  font-family: Roboto;
  font-weight: 500;
}

text.title {
  font-family: Roboto;
  font-size: 12pt;
}

#x-axis line {
  /* tick marks */
  fill: none;
  stroke: none;
}

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}
